html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff;
}

.intro{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #361616;
  background-repeat: no-repeat;
  display: table;
  top: 0;
  background-size: cover;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  width: 960px;
  height: 250px;
  margin-left: 350px;
  text-align: center;
  background-color: rgb(227, 231, 237);
}
.content h1{
  font-family: 'Raleway', sans-serif;
  color: #49111a;
  text-shadow: 0px 0px 300px  #000;
  font-size: 200%;
}
.btn{
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #036A81;
  font-size: 135%;
  padding: 10px 20px;
  margin-top: 20px; 
  border: 3px solid #036A81;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover{
  color: #361616;
  border: 3px solid #ffffff;
}

.quiz{
  width: 960px;
  height: 650px;
  margin: auto;
  text-align: center;
  background-color: rgb(227, 231, 237);
}

/* #imagecard {
  width: 250px;
  height: 150px;
  margin: 150px;
  text-align: center;
  background-color: rgb(227, 231, 237);
} */
.displaycontainer{
width: 650px;
height: 250px;
margin-left: 350px;
text-align: center;
background-color: rgb(227, 231, 237);
}
#scorecard {
  width: 250px;
  height: 150px;
  margin: 150px;
  text-align: center;
  background-color: #361616;
  display: none; 
}
.imageheader {
  background-color: #036A81;
  color: #ffffff;
  background-size: cover;
  margin-top: 25px;
  padding: 25px;
}
.imagewrong {
  background-color:rgb(82, 29, 29);
  color: #ffffff;
  background-size: cover;
  margin-top: 25px;
  padding: 25px;
}
#timecard {
  background-color: #036A81;
  color: #ffffff;
  background-size: cover;
  margin-top: 20px;
  padding: 20px;
}



